<footer>
    <div class="pt-2">{{ i18n "footer-contact-text" . }}<br>
        <a href="mailto:contacto@techteachesteli.info">contacto@techteachesteli.info</a>
    </div>

    <div class="row justify-content-center">
        <div><a href="https://www.facebook.com/techteachdeventer">
            <img src="{{ "images/social/Facebook_Icon.svg" | absURL }}" class="hvr-bob" alt="Facebook TechTeach Esteli"></a></div>
        <div><a href="https://www.instagram.com/techteachdeventer/">
            <img src="{{ "images/social/Instagram_icon.svg" | absURL }}" class="hvr-bob" alt="Instagram TechTeach Esteli"></a></div>
        <div><a href="https://www.linkedin.com/company/25079337/">
                <img src="{{ "images/social/Linkedin_icon.svg" | absURL }}" class="hvr-bob" alt="LinkedIn TechTeach"></a></div>
        <div><a href="mailto:contacto@techteachesteli.info">
            <img src="{{ "images/social/Email_icon-white.svg" | absURL }}" class="hvr-bob" alt="Email TechTeach"></a>
        </div>
    </div>

    <div class="pb-3 pt-3">
        <small>{{ i18n "footer-author-text" . }} <a href="http://yellibeanz.nl/"> www.yellibeanz.nl</a></small>
    </div>
</footer>